.MyOrder {
  filter: drop-shadow(0px 4px 48px rgba(0, 0, 0, 0.12));
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 14px;
  background-color: white;
  top: 50px;
  bottom: auto;
  border-radius: 6px;
  height: 460px;
  z-index: 100;
  display: grid;
  grid-template-rows: 36px 300px 88px;
  }
  .items::-webkit-scrollbar { 
    display: none; /* Oculta la barra de desbordamiento en navegadores webkit */
  }

  .containerTitle{
   
  }

  .containerSum{
    font-family: 'airstrike' , sans-serif;
    font-size: 18px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid rgb(161, 161, 161);
  }
  .items{
    overflow-y: scroll;
    /* overflow: hidden; */
    grid-row: 2 / 3;
  }
  .title{
    font-family: 'airstrike' , sans-serif;
    font-size: 18px;
     text-align: center;
  }
.sumTotal{
  font-size: 16px;
  justify-self: end;
}
.buttonCheckout{
  font-family: 'airstrike' , sans-serif;
  border: none;
  grid-column: 1 / 3;
  background-color:rgb(27, 238, 168);
  border-radius: 10px;
  color: rgb(24, 24, 24);
  font-size: 19px;
}
.buttonCheckout:hover{
  opacity: 0.6;
}