.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    margin-top: -15px;

}

.filters{
    margin-top: 61px;
    margin-bottom: 9px;
    height: 38px;
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    font-family: 'airstrike' , sans-serif;
    flex-direction: row;
    gap: 5px;
    list-style: none;
}
.filters li{
    cursor: pointer;
    padding: 15px;
}

.botonSort{
    top: -45px;
    bottom: 11px;
    padding: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 8.82353px;
    left: 1119px;
    position: relative;
    font-family: 'airstrike' , sans-serif;
}

.sortedModal{
    background: #FFFFFF;
    width: 230px;
    height: 100px;
    filter: drop-shadow(0px 2.91413px 34.9695px rgba(0, 0, 0, 0.12));
    border-radius: 12.2271px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    font-family: 'airstrike' , sans-serif;
    position: absolute;
    right: 60px;
}
.sortedModal span{
    cursor: pointer;
}

@media (max-width: 648px){
.botonSort{
    position: relative;
    left: 22px;
    top: -84px;
}
.sortedModal{
    position: relative;
    left: 22px;
    top: -72px;
}
.filters{
    overflow-y: scroll;
}
.container{
    grid-template-columns: 1fr;
    place-items: center;
}
 }